<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap5.3.2-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
    <title><%=  bot.name %></title>
    <link rel="icon" href= 
"https://cdn.discordapp.com/attachments/1150648600301420616/1169510857215053926/Untitled-6-removebg-preview.png?ex=6555aadc&is=654335dc&hm=de95e1081761fa3914cc0855c2c50f67e0e93c3620ecf873b274ef7b51120c96&" 
          type="image/x-icon">
</head>
<body>
    <!--HEADER-->
    <%- include('header'); -%>
    
    <!--MAINBODY-->
    <div class="d-flex justify-content-center head">
        <h1><b>PROJECT GG DISCORD STUDY BOT</b></h1>
    </div>
    <div class="d-flex justify-content-center subtext">
        <p>บอทที่พร้อมจะช่วยคุณในเรื่องการเรียนมาแล้ว 😎</p>
    </div>
    <div class="container custom-1">
        <img class="custom-image" src="https://cdn.discordapp.com/attachments/678568358903283713/1156222658254483517/latest.png?ex=652e8dc3&is=651c18c3&hm=29eb80c9f4d4c49d9febecae51c2c08f38ec5b28a063ab252c78505dc26c9a3f&">
        <h3 class="align-self-start"><b>Welcome message and reaction role</b></h3>
        <p>
            สวัสดี! คุณเคยหรือไม่ที่เปิดคอมขึ้นมาแล้วตั้งใจจะทำงานหรืออ่านหนังสือ แต่ช้าก่อนคุณโดนสิ่งเร้าหลอกล่อ
            ทำให้สูญเสียสมาธิ เราขอเสนอ GG Discord Bot อย่างแรกที่เราภูมิใจนำเสนอ Reaction Role
            เป็นธรรมดาที่คนธรรมดาอย่างเราอยากมียศมีศักดิ์กับเขาบ้าง เผลอแค่กดปุ่มโต้ตอบกับข้อความของบอท
            คุณก็จะได้รับยศที่คุณวาดฝัน (ชีวิตจริงมีไม่ได้ แต่ในโลกสมมตินี้ตุณจะได้รับมัน)
        </p>
    </div>

    <div class="container pt-10 custom-2">
         <img src="https://cdn.discordapp.com/attachments/819983339255234652/1165249502190522419/ChatGPTTHAI.png?ex=65462a2a&is=6533b52a&hm=02f8a2571d9a3818c5c57e77415c5a0c07987f05eede89f7ca7461f7b754d0c8&">
         <h3><b>Question Bot and get the answer!</b></h3>
         <p>
            อับดุลเอ้ย! เอ้ย! ถามไรตอบได้! ได้! ไม่ใช่แล้ว! นี่ไม่ใช่อับดุลซะหน่อยแล้วมันคืออะไร มันก็คือ
            GG Discord Bot ยังไงล่ะ บอทของเรามีความสามารถในการตอบคำถามได้โดยใช้แค่ปลายนิ้วพิมพ์ลงไปว่า
            !ask แล้วก็ตามด้วยข้อสงสัยที่ในใจ (แต่เนื่องด้วยความเป็นบอทก็ยังคงมีบางอย่างที่เขาไม่เข้าใจเรา)
         </p>
    </div>

    <div class="container custom-1 pt-16">
        <img class="custom-image" src="https://cdn.discordapp.com/attachments/819983339255234652/1165249502685437952/Discord_Music.png?ex=65462a2a&is=6533b52a&hm=4a03de4c01664701413ee8e20059aa639443ac3ebb1a01b5c0cf1093e24c270a&">
        <h3 class="align-self-start"><b>Music Bot</b></h3>
        <p>
            อ้าวๆเมื่อกี้พูดว่าอะไรนะ? พูดว่าอยากฟังเพลงไง ได้เลยเดี๋ยวจัดใหั GG Discord Bot
            จะร้องให้ฟังในระดับเดียวกับเจ้าของเพลงมาร้องเอง แต่มีข้อแลกเปลี่ยนนะคุณต้องพิมพ์ว่า
            .p ตามด้วยลิ้งของเพลง ที่นี้บอทก็พร้อมจะร้องเพลงให้ฟังแล้ว (แหงล่ะที่ร้องเหมือน ก็เปิดให้ฟังนิ่)
        </p>
    </div>

    <div class="container pt-10 custom-2">
        <img src="https://cdn.discordapp.com/attachments/678568358903283713/1156222658254483517/latest.png?ex=652e8dc3&is=651c18c3&hm=29eb80c9f4d4c49d9febecae51c2c08f38ec5b28a063ab252c78505dc26c9a3f&">
        <h3><b>Minigame</b></h3>
        <p>
           คุณกำลังเบื่ออยู่รึเปล่า? ใช่อ่านหนังสือจนตาลายลายตาแล้ว ได้งั้นเอาสิ่งนี้ไป
           มันคือเกมง่ายๆที่เรียกว่า tictactoe หรืออีกชื่อก็คือ XO ยังไงล่ะ
           พักจิบน้ำเล่นเกมชิวก็ไม่แย่นะ (AKA. เกมที่มักจะจบด้วยการเสมอกัน)
        </p>
   </div>
   
   <section class="team">
    <div class="center">
        <h1>Our Team</h1>
    </div>
    <div class="team-content">
        <div class="box">
            <img src="https://cdn.discordapp.com/attachments/819983339255234652/1168188568359944253/untitled4.jpg?ex=6550db62&is=653e6662&hm=52e9d68fd8dbf6dee01cdc62be16e0fd624d3afbbcd7c23df5905c25a1e6b9b9&  ">
            <h3>Jeerapichsinee Inphol</h3>
            <h5>66070031</h5>
            <h5>Discord Bot Dev/Tester</h5>
        </div>

        <div class="box">
            <img src="https://cdn.discordapp.com/attachments/819983339255234652/1167674648125767711/Untitled-2.jpg?ex=654efcc2&is=653c87c2&hm=db514f6545290b32841cc0deb417c0cb27e96186ebb8d983bb387ebb7c37ff72&">
            <h3>Chanat Suraipetch</h3>
            <h5>66070035</h5>
            <h5>Frontend Dev</h5>
        </div>

        <div class="box">
            <img src="https://cdn.discordapp.com/attachments/1150648600301420616/1167001910495154176/680f2058e10d470fa745002d447e9b61tplv-photomode-image.jpg?ex=654c8a39&is=653a1539&hm=96efd69e17f7ef8347ea460a0b0335f5457bc6b811843f539c8e780ab748055a&">
            <h3>Nattawut Roeksomchit</h3>
            <h5>66070067</h5>
            <h5>Discord Bot Dev</h5>
        </div>

        <div class="box">
            <img src="https://cdn.discordapp.com/attachments/819983339255234652/1167673481270415420/Untitled-1.jpg?ex=654efbac&is=653c86ac&hm=4689ac5713f87536869269e5ce684f2324375b6507cd46df9fb84e85cee4c745& ">
            <h3>Trisit Charoenparipat</h3>
            <h5>66070069</h5>
            <h5>Fullstack Dev</h5>
        </div>

        <div class="box">
            <img src="https://cdn.discordapp.com/attachments/819983339255234652/1167674648377430066/Untitled-3.jpg?ex=654efcc2&is=653c87c2&hm=3683f74745291c900b3c4d9fbb4e98ffcc72c68a821d18716df398e1c19b0a16&">
            <h3>Kiattisak Sakunwantanapat</h3>
            <h5>66070243</h5>
            <h5>Discord Bot Dev</h5>
        </div>
    </div>
   </section>

    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>